.propósito{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93C2C4;
    padding-top: 20px;
    width: auto;
    height: 500px;
}

.main-subtitle{
    font-family: 'Waterfall';
    font-size: 30px;
    color: rgb(54, 51, 51);
    position: left;
}

.main-text{
    font-family: 'Waterfall';
    font-size: 45px;
    color: rgb(54, 51, 51);
}