.main-title{
    font-family: 'Allura';
    font-size: 80px;
    color: #292525; 
    margin-bottom: 5px;
}

.-text_style{
    font-family: 'Waterfall';
    font-size: 40px;
}

.-data_style{
    font-family: 'Waterfall';
    font-size: 40px;
}

