
/* media queries responsividade */
@media(max-width: 600px){

    .apresentação{
        background-size: 100%;

    }

}

@media(max-width: 999px){



    .wrap-menu{
        display: flex;
        flex-direction: column;
        /* width: 200px; */
        height: 100%;
        top: -15px;

        /* margin-left: 77%; */
        
    }

    .apresentação{
        background-size: 800px;

    }

    .wrap-navigation{
        display: flex;
        flex-direction: column;   
        width: 20px;
        height: 0%;
    }

    .exp_icon{
        display: flex;
        width: 15px;
        box-shadow: 1 1 1 #93C2C4;
        margin-top: 20px;
    }

    .local_icon{
        

    }

    .presentes_icon{
        

    }


    

}



